.reliable-heading {}

.reliable-subheading{}

.main-text {}

.cardtainer {}

.cardtainer h2 {}

.cardtainer p {}

.card {}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
