html {
  /* font-size: 62.5%; */
}

body {
  /* margin: 0 auto;
  min-width:375px; */
}

.reliable-heading {}

.reliable-subheading{}

.main-text {}

.cardtainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.cardtainer h2 {}

.cardtainer p {}

.card {
  height:222px;
  width:311px;
}

.card:nth-child(1){
border-top: 5px solid #44D3D2;
}

.card:nth-child(2){
border-top: 5px solid #EA5454;
}

.card:nth-child(3){
border-top: 5px solid #FCAE4A;
}

.card:nth-child(4){
border-top: 5px solid #377FD2;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
